{% for r in site.github.public_repositories %}
    {% if r.name == page.title %}
        {% assign repository = r %}
    {% endif %}
{% endfor %}

<div class="page-header">
    <h1>
        {{ page.title }}
        {% if repository.description %}
            <small>{{ repository.description }}</small>
        {% endif %}
    </h1>

    <i class="fa fa-github"></i> <a href="{{ repository.html_url }}">View on GitHub</a> <br />

    <i class="fa fa-download"></i> Download this project as:
    <a class="zip_download_link" href="{{ repository.html_url }}/archive/{{ repository.default_branch }}.zip">.zip file</a>
    <!-- <a class="tar_download_link" href="{{ site.github.tar_url }}">.tar.gz file</a> -->
</div>

{{ content }}
